:root {
    --workpadding: 6vw;
    --projectpadding: 10vw;
}

  @media (max-width: 850px) {
    :root {
        --workpadding: 8vw;
        --projectpadding:10vw;
    }
}
  
html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0px;
    font-family: Inter, Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
    scroll-snap-align: top;
    scroll-snap-type: y mandatory;
}

img {
    object-fit: cover;
    object-position: center center;
}

a {
    text-decoration: none;
    color: black;
}
  

#head {
    z-index: -1;
    width: 100%;
    min-height: 90vh;
    background-color: rgba(255, 255, 255, 0);
    scroll-behavior: smooth;
}

#navbar {
    display: flex;
    padding: 40px;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

#nav-right {
    display: flex;
    margin-left: auto;
}

#nav-left {
    color: black;
}

#nav-left:hover {
    cursor: pointer;
}

#home-button {
    color: black;
    font-weight: 400;
}

#underline {
    border-bottom: 2px solid currentColor;
}

#home-button:hover {
    cursor: pointer;
}

#about-button {
    color: black;
    margin-left: 30px;
    font-weight: 400;
}

.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.static-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
}

#text-header-div {
    display: block;
    width: min-content;
    margin-top: calc(25vh - 98px);
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
}

#text-header {
    width: fit-content;
    text-align: left;
    font-size: 5em;
    font-weight: 600;
    text-align: left;
}

#text-sub {
    width: fit-content;
    font-size: 1.5em;
    font-weight: 400;
    text-align: left;
    margin-top: 20px;
    opacity: 60%;
    padding-left: 2px;
}

#gradient {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 120vh;

    background-image: url('assets/mesh-gradient.png');
    background-color: rgba(255, 255, 255, 0.30);
    background-blend-mode: lighten;
    background-size: cover;

    animation: gradientanim 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -2s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

#work {
    z-index: 2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    scroll-snap-stop: always;
    background-color: rgba(255, 255, 255, 1);
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    margin-top: -25vh;

    animation: contentanimup 2s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -9s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

#projects-head {
    display: flex;
    align-items: center;
    margin-left: -5px;
    margin-bottom: 7vh;
}

#main-projects-title {
    font-size: 2em;
    font-weight: 500;
    margin-left: 15px;
}

#fun-projects-head {
    display: flex;
    align-items: center;
    margin-left: -5px;
    margin-top: calc(2*var(--workpadding));
    margin-bottom: var(--workpadding);

}

#down-arrow1 {
    transform: rotate(0deg);
    animation: arrow1rotate 2s linear;
    animation-play-state: paused;
    animation-delay: calc((var(--scroll)) * -11s);
    /* animation-delay: calc(var(--scroll) * -11s); */

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

#down-arrow2 {
    transform: rotate(0deg);
    animation: arrow1rotate 2s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -11.7647s + 7.0588s);
    /* animation-delay: calc((var(--scroll)-(0.64)) * -11s); */

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.work-1, .work-2, .work-3, .work-4, .work-5 {
    background-color: white;
    background-size: auto 100%;
    height: 600px;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    background-position: center center;
    border-radius: 10px;
    /* filter: grayscale(15%); */
}

.work-1:hover, .work-2:hover, .work-3:hover, .work-4:hover, .work-5:hover {
    background-size: auto 103.5%;
    cursor: pointer;
    /* filter: grayscale(0%); */
}

.work-link {
    color: black;
    text-decoration: none;
}

.work-1 {
    background-image: url("assets/debate/debate_app_cover.png");
    background-color: rgba(224,211,251, 1);
}

.work-1:hover {
    background-color: rgba(178, 143, 245, 1);
}

.work-2 {
    margin-top: var(--workpadding);
    background-image: url("assets/uniquick/uniquick_app_cover.png");
    background-color: rgba(255, 103, 92, 0.4);
}

.work-2:hover {
    background-color: rgba(255, 103, 92, 1);
}

.work-3 {
    background-image: url("assets/guardian/guardianangel_cover.png");
    background-color: rgba(104, 142, 255, 0.4);
    margin-top: var(--workpadding);
}

.work-3:hover {
    background-color: rgba(104, 142, 255, 1);
}

.work-4 {
    margin-top: var(--workpadding);
    background-image: url("assets/badcalc/calc_app_cover.png");
    background-color: rgba(243, 226, 114, 0.5);
}

.work-4:hover {
    background-color: rgba(243, 226, 114, 1);
}

.work-5 {
    margin-top: var(--workpadding);
    background-image: url("assets/dailyui/dailyui_cover.png");
    background-color: rgba(96, 255, 254, 0.4);
}

.work-5:hover {
    background-color: rgba(96, 255, 254, 0.8);
}

#dailyuitext {
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    text-shadow: 0px 0px 5px rgba(255,255,255,1);
    background-color: rgba(255,255,254,0.4);
    width: fit-content;
}

/* [class*="work-"] {
    padding: 20%;
  } */

.desc {
    margin-top: auto;
}

.title {
    margin-top: 10px;
    font-size: 22px;
}

.worktext {
    margin-top: auto;
    padding: 40px;
    padding-top: 510px;
}

.col {
    padding: var(--workpadding);
    padding-right: 0px;
    flex: calc(50% - var(--workpadding) - ((var(--workpadding))/2));
    max-width: calc(50% - var(--workpadding) - ((var(--workpadding))/2));
}

#footer {
    display: flex;
    padding: calc(var(--workpadding) + 1px);
    padding-top: calc(2*var(--workpadding));
    background-color: rgba(255, 255, 255, 1);
}

#about-footer {
    display: flex;
    padding: calc(var(--workpadding) + 1px);
    padding-top: calc(var(--workpadding));
    background-color: rgba(255, 255, 255, 1);
}

/* #footer-left {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❤️</text></svg>") 8 0,auto;
} */

#footer-right {
    display: flex;
    margin-left: auto;
}

.footer-item {
    margin-left: 25px;
    color: #6e6e6e;
}

.footer-item:hover {
    color: black;
    cursor: pointer;
}

#resume-button {
    margin-left: 0px;
}

.footer-link {
    font-style: normal;
    text-decoration: none;
}



        /* ------------  About page  ------------ */


#about {
    width: 100%;
}

#about-main {
    margin: var(--workpadding);
    display: flex;
}

#about-left {
    width: 80%;
    margin-right: var(--workpadding);
}

#about-right {
    width: 80%;
    height: 400px;
    margin-left: var(--workpadding);
}

#about-me {
    width: 90%;
    margin-right: var(--workpadding);
    height: 400px;
    margin-top: auto;
    border-radius: 0px;
    vertical-align: middle;
    padding-top: 10%;
    /* text-align: center; */
}

#about-header {
    font-size: 2em;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 40px;
}

#about-desc {
    height: 100%;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1.6;
    display: table-cell;
    vertical-align: middle;
    margin-top: 150px;
}

#about-photo {
    width: 100%;
    height: 400px;
    background-image: url('assets/IMG_0821.jpg');
    background-color: grey;
    background-position: 50% 85%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px;
}

#about-photo2 {
    width: 100%;
    height: 400px;
    background-image: url('assets/IMG_3834.jpeg');
    background-color: grey;
    background-position: 50% 85%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px;
}

#contact {
    margin: var(--workpadding);
    background-color: #ebebeb;
    padding: 2vw;
    font-size: 20px;
    height: fit-content;
    border-radius: 10px;
    margin-bottom: 0px;

}

#contact-header {
    font-size: 2em;
}

#contact-email {
    margin-top: 20px;
}

#about-link {
    color: black;
    /* cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👋</text></svg>") 16 0,auto; */
}

#text-link {
    color: black;
}




        /* ------------  work pages  ------------ */

#project-content {
    padding: var(--projectpadding);
    padding-top: 0px;
}

#project-header {
    width: fit-content;
}

#project-header {
    width: fit-content;
}

#project-type {
    margin-top: 15px;
}

#project-header {
    margin-top: var(--projectpadding);
    font-size: 50px;
}

#project-headerpicture {
    margin-left: calc(-1 * var(--projectpadding));
    width: 100vw;
    z-index: -1;
    margin-top: -80;
}

.project-section {
    margin-top: var(--projectpadding);
}

.project-section-split {
    margin-top: var(--projectpadding);
    display: flex;
}

.project-section-split-left {
    margin-right: 30px;
    flex: 100%;
}

.project-section-split-right {
    margin-left: 30px;
    flex: 100%;
}

.project-section-header {
    font-size: 24px;
}

.project-sectionpicture {
    margin-top: 30px;
    width: calc(100vw - 2 * var(--projectpadding));
}

.project-section-description {
    margin-top: 30px;
    font-size: 17px;
    line-height: 1.6;
}

.project-sectionvideo {
    margin-top: 30px;
    width: 100%;
    min-height: fit-content;
}

#project-section-icondiv {
    display: flex;
    height: min-content;
}

.project-iconpicture {
    margin-top: 30px;
    width: 15vw;
    margin-right: 30px;
}

#project-sideimages {
    display: flex;
}

.project-sectionpicture-halfleft {
    margin-top: 30px;
    width: calc((100vw - 2 * var(--projectpadding))/2);
}

.project-sectionpicture-halfright {
    margin-top: 30px;
    width: calc((100vw - 2 * var(--projectpadding))/2);
}

#project-next {
    margin-top: 0px;
    display: flex;
    width: calc(100% - (3 * var(--workpadding)));
    height: fit-content;
    padding: 3vw;
    background-color: #ebebeb;
    margin-right: 0;
    margin-left: var(--workpadding);
    margin-bottom: var(--workpadding);
}

#project-back {
    /* height: min-content; */
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#next-left {
    width: fit-content;
    margin-right: auto;
}

#project-next-small-left {
    width: fit-content;
    margin: 0px;
    font-size: 14px;
    margin-left: auto;
}

#project-next-big-left {
    margin-top: 10px;
    display: flex;
    margin-left: auto;
    height: min-content;
    font-size: 24px;
}

#project-next-small {
    width: fit-content;
    margin: 0px;
    font-size: 14px;
    /* margin-left: auto; */
}

#project-next-big {
    margin: 0px;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 24px;
}

#nextarrow-left {
    transform: scale(-1, 1);
    margin: 0px;
}



       /* ------------  404 page  ------------ */

#text-header-404 {
    width: fit-content;
    height: fit-content;
    margin-top: 20vh;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

#text-header-404text {
    margin-top: auto;
    font-size: 200px;
}

#text-header-404description {
    width: fit-content;
    margin-top: auto;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

#text-header-404action {
    width: fit-content;
    margin-top: 20px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #6e6e6e;
}

.text404link {
    color: #404040;
}

.text404link:hover {
    color: black;
}





       /* ------------  mobile pages  ------------ */



@media (max-width: 700px) {
    #navbar {
        padding: 30px;
        font-size: 16px;
    }

    #about-button {
        margin-left: 20px;
    }

    #text-header-div {
        margin-top: calc(24vh - 98px);
    }

    #gradient {
        background-image: url('assets/mesh-gradient700.png');
    }

    #text-header {
        font-size: calc(8vw + 10px);
    }

    .col {
        padding: 5%;
        flex: 100%;
        max-width: 100%;
    }

    #col-1 {
        padding-bottom: 0px;
    }

    #col-2 {
        padding-top: 0px;
    }

    .work-1, .work-2, .work-3, .work-4, .work-5 {
        height: 500px;
        margin-bottom: var(--workpadding);
        margin-top: 0px;
        padding-top: 0px;
    }

    .work-1 {
        background-image: url("assets/debate/debate_app_cover700.png");
    }
    
    .work-2 {
        background-image: url("assets/uniquick/uniquick_app_cover700.png");
    }

    #dailyuitext {
        background-color: rgba(255,255,254,0);
    }

    .worktext {
        padding: 30px;
        padding-top: 415px;
    }

    .leftwork, .rightwork {
        padding-top: calc(130vw - 80px);
    }

    #footer {
        width: 90%;
        max-width: 100vw;
        display: block;
        padding: 5%;
        padding-top: 0px;
        align-content: center;
    }

    #footer-left {
        width: fit-content;
        margin-right: auto;
        margin-left: auto;
        align-items: center;
    }
    
    #footer-right {
        margin-top: 20px;
        width: fit-content;
        display: flex;
        align-self: center;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }

    #about-main {
        height: max-content;
        display: block;
        /* padding: 4vw; */
    }

    #about-left {
        width: 100%;
        margin-right: 0px;
    }

    #about-me {
        padding: var(--workpadding);
        margin-right: 0px;
    }

    #about-desc {
        margin: 0px;
        padding: 0px;
        width: calc(100% - 2px);
    }

    #contact {
        padding: 4vw;
    }

    #about-photo {
        display: block;
        width: calc(100% - 2px);
        height: 70vw;
        margin-top: 30px;
    }

    .project-section-split {
        margin-top: var(--workpadding);
        display: block;
    }
    
    .project-section-split-left {
        margin-right: 0px;
        flex: 100%;
    }
    
    .project-section-split-right {
        margin-left: 0px;
        margin-top: var(--workpadding);
        flex: 100%;
    }

    #project-section-icondiv {
        display: flex;
        height: min-content;
    }
    
    .project-iconpicture {
        display: none;
    }

  }


  @keyframes contentanimup {
    to {
        margin-top: 15vh;
    }
  }   

  @keyframes gradientanim {
      to {
          top: -120px;
      }
  }

  @keyframes arrow1rotate {
      to {
          transform: rotate(-90deg);
      }
  }
